<form method="post">
  <input type="text" name="txtnickname" />
  <input type="text" name="txtemail" />
  <input type="password" name="txtpasswd" />
  <input type="submit" value="Sign up" />
</from>
