<script type="text/javascript" src="/javascripts/wall.js"></script>
<style>
.photo-container {
  width: 420px;
  border: 1px solid #aaa;
  border-radius: 4px;
  position: absolute;
}
.photo {
  width: 400px;
  border: 10px solid white;
  border-radius: 4px;
}
#pub-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0 , 0 , 0 , 0.5);
  z-index: 9999;
  text-align: center;
  padding-top: 50px;
}
</style>

<div id="pub-container"></div>
