<html>
<head>
  <script type="text/javascript" src="/javascripts/jquery-1.10.0.min.js"></script>
  <script type="text/javascript" src="/javascripts/jquery.transit.min.js"></script>
</head>
<body>
  {{{ yield }}}
</body>
</html>